@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");
body {
  background: black;
 
}
h1,
h2,
h3,
p,
li {
  font-family: "Sen", sans-serif;
}

.ref:link,
.ref:visited{
  border-radius: 8%;
  background-color: #f44336;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
}

.ref:hover,
.ref:active {
  background-color: red;
}

/* INTRODUCTION */
.intro {
  display: flex;
  flex-direction: row;
  margin: 0 10vh;
  padding-top: 15vh;
  height: 100vh;
  color: wheat;
}
.left {
  width: 60vw;
  margin: 6rem 0;
}
.right {
  width: 40vw;
  margin: 6rem 0;
}
.intro h2 {
  margin: 0.5rem 0;
}
.intro a{
  
  margin-top: 1rem;
 
}
.sub-title {
  height: 15vh;
  font-size: 3rem;
  text-align: center;
}

/* ---------------ABOUT---------------- */
.about{
  display: flex;
  flex-direction: column;
  height: 90vh;

  background-color: #181823;
  margin: 2rem 1rem;
  padding: 4rem 0; 
   color: wheat;
  text-align: center;
}
.about h2{
  color: #c7453c;
}
.about p{
  font-size: 1.3rem;
}
/* ---------------------------- SKILLS ------------------------------------- */
.skills {
  color: wheat;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
.skills h2 {
  height: 15vh;
  font-size: 3rem;
  text-align: center;
}
.skills-item {
  margin: 2rem 0rem;
}

.skills h3 {
  margin: 1rem;
  color: #c7453c;

  height: 15vh;
  text-align: center;
}
.skills-item-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  margin-bottom: 2rem;
}
.skills-item-container img {
  text-align: center;
  height: 10vh;
}
.skills-item-container div {
  text-align: center;
}
.skills-item-container h6 {
  text-align: center;
  padding-top: 1rem;
}
.single-skill:hover {
  box-shadow: #0d6efd 0px 10px 36px 0px, #f9fafb 0px 0px 0px 1px;
}

/* ------------------------ PROJECTS ----------------------- */
.projects {
  display: flex;
  flex-direction: column;
  color:wheat;
  background-color: #181823;
  margin: 2rem 1rem;
  padding-top: 4rem;
}
.single-project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  margin: 4rem 4rem;
  height: 70vh;
}
.project-display {
  display: grid;
  grid-template-rows: 80% 20%;
}
.about-project {
  padding: 2rem;
  height: 60vh;
}
.about-project h2 {
  color: #f44336;
}
.about-project h5 {
  color: #c7453c;
}
.project-display {
  padding: 1rem;
}
.project-img {
  width: 43vw;
  height: 52vh;
}
.project-caption {
  margin-top: 1rem;
}
.git-icon {
  width: 7vh;
  height: 7vh;
  padding: 0 0 5px 3px;
}


.code-link {
  height: 2vh;
}
.webflow{
  color: #c7453c;
  text-decoration: none;
}
/* ------------------CONTACT------------------ */
.contact{
  color: wheat;
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
  height: 60vh;
  padding: 2rem 0;
}
.contact h2, h3, h4{
  margin: 1.5rem 0;
}


/* ----------------------- CONTACT OVER -------------------- */

footer {
  background: #181823;
  color: wheat;
  margin: 1rem;
}
footer ul li {
  list-style: none;
}

.footer-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
  font-family: "Sen", sans-serif;;
  /* grid-template-rows: repeat(); */
}
.footer-item {
  text-decoration: none;
  color: wheat;
}
.footer-item:hover{
  color: #c7453c;
}



@media (max-width: 770px) {
  .navbar button{
    padding: 1rem 0;
  }
  .ham-icon{
    color: #c7453c;
  }
  .intro{
    display: block;
    padding-top: 0%;
    height: 80vh;
  }

  .right{display: none;}
  .about{
        height: 105vh;
    padding-bottom: 0;
    padding-top: 0;
  }
  .sub-title{
    padding: 1rem;
  }
  .description{
    padding: 1rem;
  }
  .skills h3{
    height: 8vh;
  }
  .skills-item-container{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .skills-item div{
    margin: 1rem;
  }
  
  .skills-item{
    margin: 0%;
  }
  .projects{
    padding: 0;
  }
  .single-project{
    height: 120vh;
    grid-template-columns: 100%;
    margin: 0;
  }
 #note{
   height: 133vh;
 }
  #smart{
   height: 110vh;
 }
  #robot{
   height: 105vh;
 }
  #portfolio{
   height: 90vh;
 }
  .about-project, .project-display{
    padding: 0%;
    
  }
  .note{
    height: 90vh;
  }
   .smart{
    height: 70vh;
  }
   .robot{
    height: 50vh;
  }
   .portfolio{
    height: 50vh;
  }
  .project-display{
    grid-template-rows: 68% 32%;
  }
  .project-caption{
    margin: auto;
  }
  .project-img{
    width: 91vw;
    height: auto;
  }
  .about-project h2{
    text-align: center;
    margin-top: 6rem;
  }
  .about-project h5{
    margin: 1rem 1rem;
  }
  .about-project p{
    margin: 1rem;
  }
  .contact{
    text-align: center;
  }
  .footer {
    padding-bottom: 40px;
    text-align: center;
  }
  
  
  
}


